node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.cursor/*.log
.fallow

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.schema

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
seedDb.js
stats.html
## Panda
styled-system
styled-system-studio