@layer reset, base, tokens, recipes, utilities;
@import "@fontsource/source-sans-3/latin-400.css";
@import "@fontsource/source-sans-3/latin-500.css";
@import "@fontsource/source-sans-3/latin-600.css";
@import "@fontsource/source-sans-3/latin-700.css";
@import "@fontsource/source-sans-3/latin-900.css";
@import "@fontsource/source-code-pro/latin-400.css";
@import "@fontsource/source-code-pro/latin-700.css";
@import "@fontsource/kalam/latin-700.css";

:active-view-transition-type(forwards) {
  &::view-transition-old(paginated-list-rows) {
    --slide-distance: -60px;
    animation:
      fade-out 250ms ease both,
      slide-out 250ms ease both;
  }

  &::view-transition-new(paginated-list-rows) {
    --slide-distance: calc(100vw + 60px);
    animation:
      fade-in 250ms ease both,
      slide-in 250ms ease both;
  }
}

:active-view-transition-type(backwards) {
  &::view-transition-old(paginated-list-rows) {
    --slide-distance: calc(100vw + 60px);
    animation:
      fade-out 250ms ease both,
      slide-out 250ms ease both;
  }

  &::view-transition-new(paginated-list-rows) {
    --slide-distance: -60px;
    animation:
      fade-in 250ms ease both,
      slide-in 250ms ease both;
  }
}

::view-transition-group(search-icon-loader) {
  animation-duration: 0.35s;
  animation-timing-function: var(
    --easings-glide,
    cubic-bezier(0.33, 1, 0.68, 1)
  );
}
::view-transition-old(search-icon-loader),
::view-transition-new(search-icon-loader) {
  mix-blend-mode: normal;
}
